<div class='footer__grid'>

  <div class='footer__enlace'>
    <p class='footer__paragraph'>Dirección</p>
    <a href='#' class="footer__link">Calle 608 No. 300 y Av. 412, Col. San Juan de Aragón,
      Alcaldía. Gustavo A. Madero, C.P. 07470, México, CDMX</a>
    <p class='footer__paragraph'>Contacto</p>
    <a href='tel:(55)2651-7864' class="footer__link">(55) 2651-7864 y (55) 2651-6275</a>
  </div>

  <div class='footer__enlace'>
    <p class='footer__paragraph'>Enlaces</p>
    <a href='#' class="footer__link">Portal de Obligaciones de Transparencia
      INAI</a>
    <a href='#' class="footer__link">Portal de Obligaciones de Transparencia INAI</a>
  </div>

  <div class="footer__enlace">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3761.850463049588!2d-99.06382768586988!3d19.462013044784385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fba1933eec83%3A0x30b9a0b2b63fb2e7!2sTecNM%20Instituto%20Tecnol%C3%B3gico%20de%20Gustavo%20A.%20Madero!5e0!3m2!1ses-419!2smx!4v1668657066493!5m2!1ses-419!2smx"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="footer__map"></iframe>
  </div>
</div>