<div class="nav__contenedor">
   <a href="/">
      <h2 class="nav__logo">ITGAM</h2>
   </a>

   <ul class="nav__ul">
      <li class="nav__li">
         <a href="/" class="nav__link">Inicio</a>
      </li>
      <li class="nav__li">
         <a href="/about" class="nav__link">Sobre nosotros</a>
      </li>
      <li class="nav__li nav__li--active">
         <a href="#" class="nav__link nav__link--active nav__link--disabled">Proyectos</a>
         {{>_toolbarOperationsMenu}}
      </li>
   </ul>
   <figure class="nav__toggle" id="toggle">
      <i class="material-icons nav__icon">menu</i>
   </figure>
</div>