 <header class="header container">
    <div class="logo">
      <h2 class="heading__logo">404 NOT FOUND</h2>
    </div>

    <div class="hero">
      <div class="hero__img">
        <img src="images/image1.png" alt="">
      </div>
      <div class="hero__text">
        <h1 class="heading">Tengo malas noticias<span>Para ti</span></h1>
        <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ullam distinctio quia a voluptate perferendis repellendus nihil, explicabo modi nulla?</p>
        <a href="../" class="bton">Volver a la pagina de inicio</a>
      </div>
    </div>
  </header>