<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='./stylesheets/app.css' />
  </head>
  <body>

    {{{body}}}
    <script src="/bundler.js"></script>
  </body>
</html>
