<section>
<p style="margin-top:4rem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quam officiis. Id, tempora ab? Soluta inventore quae repellendus rerum quas. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum excepturi pariatur culpa molestiae tempora hic asperiores at necessitatibus numquam quis. Molestias ipsum laborum quam. <span class="text-bold">{{ appVersion }}</span>
</p>

   <div class="carousel">
      <img class="carousel-item" src="images/image.jpg" alt="">
      <img class="carousel-item" src="images/image2.jpg" alt="">
      <img class="carousel-item" src="images/image3.jpg" alt="">
      <img class="carousel-item" src="images/image4.jpg" alt="">
  </div>
</section>
