<p style="margin-top:1rem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quam officiis. Id, tempora ab? Soluta inventore quae repellendus rerum quas. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum excepturi pariatur culpa molestiae tempora hic asperiores at necessitatibus numquam quis. Molestias ipsum laborum quam. At nobis ipsum error cumque eaque facilis officiis omnis explicabo, sapiente porro exercitationem eligendi quas culpa! Rem pariatur, debitis est earum sint eum nisi expedita, animi fuga vero recusandae nemo dolores quisquam exercitationem laboriosam reiciendis explicabo assumenda in itaque, asperiores dolor! Fugit, quis? Blanditiis, id voluptate? Dicta dolore esse numquam labore assumenda, quaerat et blanditiis delectus corporis error dignissimos ipsa quisquam natus, aut id eveniet veritatis? Ipsam ducimus assumenda et quo hic excepturi similique aliquid perspiciatis.</p>

<section>
   <div class="carousel">
      <img class="carousel-item" src="images/image.jpg" alt="">
      <img class="carousel-item" src="images/image2.jpg" alt="">
      <img class="carousel-item" src="images/image3.jpg" alt="">
      <img class="carousel-item" src="images/image4.jpg" alt="">
  </div>
</section>
