<header class="header__home">
   <h2 class="heading">{{{author}}} el pepe</h2>
   <p class="paragraph">Una aplicacion que te permitara registrar una idea que se te va ocurriendo</p>
   <a href="#" class="cta__bton">Registra una idea ahora</a>
   <i class="material-icons-two-tone">pie_chart</i>
</header>
