<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css'/>
    <link rel="shortcut icon" href="/images/rayos.png" type="image/x-icon">
</head>
<body>
  <nav class="light-blue darken-4">
     {{>_navbar}}
  </nav>

  <main class="container">
    {{{body}}}
  </main>

  <footer class="page-footer light-blue darken-4">
    {{>_footer}}
  </footer>

  <script src="/bundle.js"></script>
</body>
</html>