<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css'/>
    <link rel="shortcut icon" href="/images/rayos.png" type="image/x-icon">
  </head>
  <body>
  <nav>
   {{>_navbar}}
  </nav>
  <div class="container">
    {{{body}}}
  </div>
    <script src="/bundle.js"></script>
  </body>
</html>
